body{
    font-family: Nunito , 'Courier New', Courier, monospace;;
}
h1, h2 , h3, h4 , h5, h6{
    font-family:  Rubik ,Arial, Helvetica, sans-serif;
}
.wrapper{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#indexPage .indexHeader{
    /* display: flex;
    justify-content: center; */
    min-height: 80px;
    text-align: center;
    background-color: #136f63;;
    border-radius: 20px;
}
#indexPage .indexHeader .header-container{
    display: flex;
    justify-content: center;
}
#indexPage{
    margin-top: 2rem;
}
.indexHeader h1{
    color: white;
}
#indexPage .indexMain h2{
    padding-left: 20px;
}
#indexPage .indexMain{
    padding: .5em;
}
#indexPage .indexFooter{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 80px;
    text-align: center;
    background-color: #136f63;;
    border-radius: 20px;
}
.footer-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#indexPage .indexFooter span{
    color: white;
    /* margin-top: 6px; */
}
#profilePicture{
    margin-top: 15px;
}
.white{
    color: white;
}
#profilePicture{
    height: 250px;
}