/* general */
body{
    margin-left: auto;
    margin-right: auto;
    font-family: Noto sans SC , Tahoma, Geneva, sans-serif;
}
a{
    font-family: Noto sans SC , Tahoma, Geneva, sans-serif;
    text-decoration: none;
}
h1, h2 , h3, h4 , h5, h6{
    font-family:  Nunito ,Arial, Helvetica, sans-serif;
}
main{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    img{
        height: 60px;
        margin-left: 20px;
        margin-right: 30px;
    }
    h1{
        font-size: 3em;
        margin: 0;
    }
    p{
        margin: 0;
    }
}
nav {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    min-height: 50px;
    font-size: 1.2rem;
    box-sizing: border-box;
    a,.fas{
        color:$greywhite;
    }
    a:hover, a.active{
        color:$yellow;
    }
}

.desktop-nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-brand {
    font-size: 1.8rem;
}

.fa-bars,
.fa-times {
    font-size: 2.2rem;
}

.fa-times {
    display: none;
}

.hamburger-icon-show {
    display: inline-block;
}

.hamburger-hide {
    display: none;
}

.hamburger-toggle-show  { 
    animation: hamburger-toggle-show 0.2s linear 0s 1 forwards;
}

.hamburger-btn {
    display: initial;
}

.nav-menu-container {
    display: none;
}

.collapsed-nav-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    transition: height 0.5s ease-out;
    overflow: hidden;
    text-align: center;
}

.show-collapsed-nav-container {
    display: flex;
    animation: slideNav 0.45s ease 0s 1 forwards;
}

.nav-menu-item {
    margin: 15px 0;
    font-size: 2rem;
    animation: slideUp 1s ease;
}
.inner_section{
    padding-top: 30px;
    padding-bottom: 30px;
}
.img_banner_home{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
.banner{
    position: relative;
    .call_to_action{
        text-align: center;
        background-color: transparentize($primary, .1);
        padding: 20px;
        position: relative;
        // width: calc(100%-40px);
        h3{
            margin-top: 0;
            margin-bottom: 10px;
        }
        .btn{
            margin-top: 15px;
        }
    }
}
.btn{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 4px;
}
.btn_block{
    display: block;
}
.btn_secondary{
    background-color: $secondary;
    color:$black;
}
.btn_secondary:hover{
    background-color: darken($secondary, 10%);
}
.btn_primary{
    background-color: $primary;
    color:$greywhite;
}
.btn_primary:hover{
    background-color: darken($primary, 10%);
}
.forecast_weather_container{
    display: flex;
    flex-direction: column;
    li{
        display: flex;
        margin-bottom: 6px;
        justify-content: space-around;
        div{
            width: 50%;
        }
        div:nth-child(1){
            text-align: right;
            padding-right: 5px;
        }
        div:nth-child(2){
            padding-left: 5px;
            text-align: left;
        }
    }
    ul{
        padding: 0;
        margin: 0;
    }
    .weather_summary{
        width: 100%;
    }
    .weather_summary_title{
        text-align: center;
        margin: 0;
    }
    .forecast{
        display: none;
        width: 100%;
        #forecast_table{
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            td,th{
                border: 1px solid black;
                img{
                    height: 50px;
                }
            }
        }
    }
}
.no_pd_top{
    padding-top: 0;
}
.section_header{
    text-align: center;
    margin-top: 0;
}
.rentals_summary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3{
        text-transform: capitalize;
        margin-top: 0;
        text-align: center;
    }
    .summary_block{
        margin: 5px 30px;
        position: relative;
        background: $greywhite;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
        *{
            position:relative;
            z-index: 2;
        }
        .btn{
            padding: 14px 20px;
            text-align: center;
        }
    }
    .inner_summary_block{
        padding: 30px;
        span{
            font-size: 1.1rem;
        }
    }
    .inner_summary_block:before{
        content: ' ';
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        opacity: 0.3;
        position: absolute;
        background-position: center;
    }
    #scooter_rent:before{
        background-image: url('../images/scooter_medium.jpg');
    }
    #atv_rent:before{
        background-image: url('../images/atv_medium.jpg');
    }
    #jeep_rent:before{
        background-image: url('../images/jeep_medium.jpg');
    }
}
.footer_info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .column{
        padding: 20px;
        text-align: center;
        ul{
            list-style: none;
            padding: 0;
        }
    }
    .social_links{
        display: flex;
        justify-content: space-around;
        a{
            color: $black;
        }
    }
    .about_us{
        i{
            margin-right: 10px;
        }
        li{
            margin-bottom: 15px;
        }
    }
}
.footer_last{
    text-align: center;
    background-color: $greywhite;
    padding: 15px 0;
}
footer{
    background-color: $secondary;
}
.table_price{
    border-collapse: collapse;
    margin-bottom: 10px;
    th,td{
        border: 1px solid $accent;
        padding: 8px 15px;
    }
    th{
        color: $accent;
    }
    td{
        color: $primary;
    }
    margin: 0 auto 10px auto;
}
.rental_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    >div{
        width: 100%;
        text-align: center;
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    >div:nth-child(2){
        padding-top: 20px;
    }
}
#rentals{
    .rental_header{
        margin-left: 15px;
    }
    h3{
        text-align: center;
        color: $primary;
    }
}
.section_title{
    text-align: center;
    font-size: 2rem;
}
.weather_attribution{
    margin-top: 5px;
    text-align: center;
    font-size: .9em;
}
#reservation_form{
    .form_group{
        display: flex;
        flex-direction: column;
    }
    fieldset{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 4px;
        border: 1px solid $primary;
        legend{
            padding: 0 10px;
            color: $primary;
        }
        .top_label{
            width: 100%;
            padding: 3px 3px;
            display: block;
            margin-bottom: 15px;
            input,select{
                width: 100%;
                margin-top: 5px;
                padding: 0;
                box-sizing: border-box;
                line-height:2em;
                height: 2em;
                border: 1px solid $black;
            }
            input:required,input:required:focus{
                border-left: 6px solid $accent;
            }
            input:required:valid,input:required:focus:valid{
                border-left: 6px solid $primary;
            }
        }
        .top_label100{
            width: 100%;
            padding: 3px 3px;
            display: block;
            margin-bottom: 15px;
            textarea{
                width: 100%;
                margin-top: 5px;
                box-sizing: border-box;
            }
        }
    }
    .submit_container{
        text-align: center;
        margin: 20px 0;
        .btn{
            padding: 10px 30px;
        }
    }
}
.thanks_section{
    padding-left: 20px;
    padding-right: 20px;
    ul{
        li{
            margin-bottom: 10px;
            font-weight: bold;
            span{
                font-weight: normal;
                display: block;
            }
        }
    }
    .btn_container{
        text-align: center;
    }
}