body{
    margin-left: auto;
    margin-right: auto;
    font-family: Nunito , 'Courier New', Courier, monospace;
}
a{
    font-family: Nunito , 'Courier New', Courier, monospace;
}
h1, h2 , h3, h4 , h5, h6{
    font-family:  Rubik ,Arial, Helvetica, sans-serif;
}

main, footer{
    max-width: 900px;
    margin: 0 auto;
}

.header-section{
    text-align: center;
}

.content-box{
    /* margin: 15px 10px 15px 10px; */
    /* border: 1px #Ccc dashed; */
	/* padding: 15px; */
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
}

footer{
    color: white;
    height: 80px;
    line-height: 30px;
    text-align: center;
    background-color: #3663a5;
	border-radius: 20px;
	height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
	max-width: 150px;
}

.heading {
	display: flex;
	flex-direction: column;
}

.heading h1 {
	font-size: 1.5em;
	margin: 0 0 0 17px;
}

.description-title {
	letter-spacing: 1pt;
	color:  #29AAE3;
	margin-left: 17px;
	font-size: .9rem;
}
.white{
    color: white;
}

nav {
    margin: 0 auto;
    width: 100%;
	background-color: #3663a5;
	text-align: center;
}
.navLinks {
	list-style: none;
	padding: 0;
}
.navLinks li:first-child {
	display: block;
}
.navLinks li {
	display: none;
}
.navLinks a {
	display: block;
	padding: 0.75rem 0;
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.navLinks a:hover {
	color: white;
	background-color: #29AAE3;
}
.navLinks a.active{
	background-color: #29AAE3;
}

.opened li {
	display: block;
}

.banner_img{
	max-height: 170px;
	width: 100%;
	object-fit: cover;
}
.weather_summary{
	border: 1px solid black;
	padding: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	background-color: rgba(54, 99, 165,.8);
	color: white;
	box-shadow: 0px 0px 18px#3663a5;
}
.summary_list{
	list-style: none;
	padding: 0;
}
.summary_list_item{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 200px;
}
.summary_list_item>div{
	width: 50%;
}
.description_summary{
	text-align: right;
	margin-right: 2px;
}
.value_summary{
	margin-left: 2px;
	text-align: left;
}
.weather_summary_title{
	text-align: center;
	margin: 5px 0;
}
.divider{
	border: 1px solid;
	overflow: hidden;
}
.forecast{
	display: none;
	text-align: center;
	padding: 5px;
}
#forecast-table{
	margin: 0 auto;
	width: 500px;
	border-collapse: collapse;
}
#forecast-table td, #forecast-table th{
	border: 1px solid black;
}
#forecastDays{
	background-color: #f9b03d;
}
#forecastDays td{
	padding: 8px;
}
.article{
	border: 1px solid black;
	padding: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
.article_title h3{
	margin: 5px 0;
}
.article_img{
	max-width: 100%;
}
.article_content{
	margin-right: 0;
}
.contact_info ul{
	display: inline-block;
	list-style: none;
	margin: 0 auto;
    text-align: center;
	padding: 0;
	width: 100%;
}
.contact_info ul img{
	width: 1rem;
}
.contact_info ul span{
	line-height: 1rem;
}
.map_contact{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.map_contact_box{
	padding: 8px;
	width: 100%;
}
.contact_content{
	padding: 15px;
	/* display: flex */
}
.contact_content ul li{
	margin: 10px 0;
}
.contact_info ul li.social_links img{
	width: 20px;
}
.contact_info ul li.social_links img:not(:first-child){
	margin: 0 5px;
}
#message{
	text-align: center;
	background-color: #f7941f;
	padding: 20px;
}